a {
    text-decoration: none;
    color: green;
}

body {
    background-color: rgb(39,40,31);
}

h1 {
    text-align: center;
}

a:hover {
    color: brown;
}

h4 {
    text-align: right;
}

p {
    text-align: center;
    font-size: 40px;
}



